.canvas-wrapper {
  min-height: 400px;
  background: transparent;
  
  canvas {
    display: block; 
    width: 100% !important;
    height: 100% !important;
    outline: none;
    border-radius: 12px;
  }
}

.pointer-events-none {
  pointer-events: none;
}
